{% extends 'base.html' %}
{% block content %}
<h2>{{categories}}</h2>
        <section>
            {% for post in posts %} 
            <article>
               <h1>{{post.post_name}}</h1>
               <small>{{post.date_create}} 
                {% for categorie in post.categories.all %}
                <a href="{% url 'post_categories' categorie.name %}">
                    #{{ categorie.name }}
                </a>
                {% endfor %}
               </small>
               <p>{{ post.description }}</p> 
             
               <figure>
                <img src="media/{{post.media.image  }}">
               </figure>
               <a href="{% url 'post_page' post.pk %}">Lire Plus</a>
               
          
            </article>
            {% endfor %}
        </section>
      
{% endblock %}